@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --bg: #340463;
  --primary: #340463;
  --text: #f89808;
  --accent: #f89808;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #340463;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    rgba(254, 151, 3, 0.4),
    rgba(59, 26, 58, 0.6)
  );
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    to bottom,
    var(--accent),
    var(--primary)
  );
}